header {
    background-color: #585858;
    padding: 10px;
    color: white;
    text-align: center;
}

h4 {
    padding: 10px;
    border: solid grey;
}

p {
    margin: 0;
    padding: 10px 20px;
    font-size: 125%;
}

.day-color {
    background-color: blue;
    color: white;
}

.container {
    max-width: 2560px;
}

.favorable {
    background-color: green;
    color: white;
    padding: 3px;
}

.moderate {
    background-color: yellow;
    color: white;
    padding: 3px;
}

.severe {
    background-color: red;
    color: white;
    padding: 3px;
}